div.cta { padding: 25px; width: 50% }

div.cta a.btn.btn-uogRed {
    background: #c20430 !important;
    color: #fff !important;
    text-align: left;
    text-transform: none;
    font-size: 1.5rem;
    width: 100%;
    padding: 2rem 2rem 1.5rem 2rem;
    border-bottom: 0rem !important;
}

div.cta a.btn.btn-uogRed:hover,
div.cta a.btn.btn-uogRed:focus {
    background: #69A3B9 !important;
    color: #fff !important;
    outline: none !important;
    border-bottom: 0rem !important;
}

div.cta a.btn.btn-uogRed {
    width: 50%;
    font-size: 3rem;
    text-align: center;
}

div.cta a.btn.btn-uogRed span {
    font-size: 2.1rem;
    font-weight: 700;
}

div.cta a.btn.btn-uogRed img {
    width: 14%;
    float: left;
    margin-right: 10%;
}


/* div.container-fluid  { margin-top: 0px; border: 0px solid black; padding-left: 0px; padding-right: 0px;} */


div.lead h2 { margin-bottom: 35px;}

div.lead p {font-weight: bold; color: white; margin-top: 45px; opacity: 0.9; font-size: 1.5em; padding-left: 40px; padding-right: 40px;}

div.lead p:not(.author)::before { content: open-quote; color: var(--uog-yellow); font-weight: bold; margin-left: -40px; margin-top: -30px; position: absolute; font-size: 4em;}

div.lead p:not(.author)::after { content: close-quote; color: var(--uog-yellow); font-weight: bold; font-size: 4em; margin-top: -20px; display: block; float: right; margin-right: -25px;}

div.lead p.author { margin-left: 4rem; padding-left: 10px;}

div.lead { /* background-color: dimgrey; background-image: linear-gradient(dimgrey, black); */ background-color: rgba(10,0,0,0.95);  padding-left: 8px; padding-right: 4px;}

div.leadimg {  background-color: rgba(64,64,64,0.9); background-image: linear-gradient(dimgrey, black);  border: 0px solid red;  grid-gap: 0px;}
