/* News */

.news-item p.category {
    color: #000000;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.news-item:nth-of-type(2n+2) p.category {
    color: #c20430;
}

.news-item:nth-of-type(3n+2) p.category {
    color: #4C9BB2;
}