#tags {
	background: #333;
	color: #888;
	/* padding: 3em 0 3em 0; */
	/* margin-top: 2em; */
}
#tags ul {
	margin: 0;
	padding: 0;
}
#tags li {
	list-style-type: none;
	display: inline;
	padding-right: 0.5em;
}

#tags ul.lead li {
	line-height: 5rem;
	font-size: 4rem;
	font-weight: 300;
	color: #888;
	margin-top: 0rem;
}

#tags li:before {
	content: "";
}

@media only screen and (max-width: 1024px) {
	#tags ul.lead li {
		font-size: 3rem;
		line-height: 4rem;
	}
}