.section-button {
    padding:20px;
    text-align: left;
}

.section-button-rigth {
    padding:20px;
    text-align: left;
}

.section-button-icon {
    font-size: 5rem;
    padding-top: 10px;

}

.yellow-icon {
    color:var(--uog-yellow);
}

.section-button-text {
    font-size: 1em;

}