@import url("https://www.uoguelph.ca/css/UofG-styles-dist.css");

#rotator img {
    top: 50% !important;
    left: 50% !important;
  }

.skiplink {
    z-index: 1001;
}

.site-content {
    min-height: 0rem !important;
}

.main-container {
    margin-top: 0 !important;
}

.full-width-container {
    width: 100%;
    height: auto;
    content: "";
    clear: both;
    display: table;
    display: flex;
}

.full-width-container.bg-light {
    background-color: #f5f5f5 !important;
    color: #999;
    padding: 2rem 0;
}

.full-width-container.bg-dark {
    background-color: #333 !important;
    color: #999 !important;
    padding: 2rem 0;
}

.full-width-container .site-content {
    background: transparent !important;
}

@media (max-width: 575.98px){
    .main-container {
        padding-top: 0 !important;
    }
}

.flex-even {
    flex:1;
}