.skiplink {
    z-index: 1001;
}

.site-content {
    min-height: 0rem !important;
}

.main-container {
    margin-top: 0 !important;
}

.full-width-container {
    width: 100%;
    height: auto;
    content: "";
    clear: both;
    display: table;
    display: flex;
}

.full-width-container.bg-light {
    background-color: #f5f5f5 !important;
    color: #555;
    padding: 2rem 0;
}

.full-width-container.bg-dark {
    background-color: #333 !important;
    color: #aaa !important;
    padding: 2rem 0;
}

.full-width-container .site-content {
    background: transparent !important;
}

#rotator img {
    top: 50% !important;
    left: 50% !important;
}

.flex-even {
    flex: 1;
}

.no-icon li:before {
	content: "" !important;
}

html {
    scroll-padding-top: 10rem;
}

@media (max-width: 575.98px){
    .main-container {
        padding-top: 0 !important;
    }
}

/* Custom card styles */

.uog-blue-muted {background:var(--uog-blue-muted);}

.card .uog-card-border {
	border-left: 1rem solid var(--uog-red);
}

.card:nth-of-type(9n+2) .uog-card-border,
.card:nth-of-type(9n+4) .uog-card-border,
.card:nth-of-type(9n+9) .uog-card-border {
	border-left: 1rem solid var(--uog-yellow);
}

.card:nth-of-type(9n+3) .uog-card-border,
.card:nth-of-type(9n+5) .uog-card-border,
.card:nth-of-type(9n+7) .uog-card-border {
	border-left: 1rem solid var(--uog-blue);
}