.modal-video .play {
  background: none;
  display: block;
  margin: 0 auto;
  padding: 0;
  opacity: 1;
  border: none;
  -webkit-transition: all 0.25s 0.1s ease-in-out;
  -o-transition: all 0.25s 0.1s ease-in-out;
  transition: all 0.25s 0.1s ease-in-out;
}

.modal-video .play i {
  font-size: 10rem;
  color: var(--uog-color-black);
  line-height: 10rem;
  height: 10rem;
}

.modal-video .play i:before {
  color: var(--white);
}

.modal-video .play:focus,
.modal-video .play:hover {
  cursor: pointer;
  color: var(--uog-color-red);
  opacity: 1;
  outline: none;
}

