.modal-video .play {
  background: none;
  display: block;
  margin: 0 auto;
  padding: 0;
  opacity: 1;
  border: none;
}

.modal-video .play i {
  font-size: 10rem;
  color: var(--uog-black);
  line-height: 10rem;
  height: 10rem;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.modal-video .play i:before {
  color: var(--white);
}

.modal-video .play:focus,
.modal-video .play:hover {
  cursor: pointer;
  color: var(--uog-red);
  opacity: 1;
  outline: none;
  -webkit-filter: drop-shadow(-1px 0px 0px black);
  -moz-filter: drop-shadow(-1px 0px 0px black);
  -ms-filter: drop-shadow(-1px 0px 0px black);
  -o-filter: drop-shadow(-1px 0px 0px black);
  filter: drop-shadow(-1px 0px 0px black);
}
.modal-video .play:active {
  -webkit-filter: drop-shadow(-2px 0px 5px #c20430);
  -moz-filter: drop-shadow(-2px 0px 5px #c20430);
  -ms-filter: drop-shadow(-2px 0px 5px #c20430);
  -o-filter: drop-shadow(-2px 0px 5px #c20430);
  filter: drop-shadow(-2px 0px 5px #c20430);
}
