
body.program .nav-pills {
    border-bottom: 0.5rem solid #FFC72A !important;
}

body.program .nav-pills .nav-link {
    color: #000;
    font-weight: 700;
    background-color: #eee;
    border-radius: 0.25rem 0.25rem 0 0;
    margin: 0 0.25rem;
    padding: 1.25rem;
    border-bottom: 0.5rem solid #fff !important;
}

body.program .nav-pills .nav-link:hover,
body.program .nav-pills .nav-link:focus {
    background-color: #ddd;
}

body.program .nav-pills .nav-link.active {
    color: #000;
    font-weight: 700;
    background-color: #FFC72A;
    border-bottom: 0.5rem solid #FFC72A !important;
}

body.program .tab-content {
    padding: 2rem 0;
}