body.program .site-content {
    min-height: 0rem !important;
}

body.program h4, body.program h3 {
    color: #000;
}

body.program li.list-group-item.feature a {
    background: #c20430;
    font-weight: 700;
    color: #fff !important;
}

body.program .full-width-container {
    width: 100%;
    height: auto;
    content: "";
    clear: both;
    display: table;
    display: flex;
}

body.program .full-width-container.bg-light {
    background-color: #f5f5f5 !important;
    color: #999;
    padding: 2rem 0;
}

/* Hashtags and Download Program Button */

body.program .full-width-container.bg-dark {
    background-color: #333 !important;
    color: #999 !important;
    padding: 2rem 0;
}

body.program .lead {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 300;
    color: #888;
    margin-top: 0rem;
    display: block;
}

body.program .full-width-container .site-content {
    background: transparent !important;
}

body.program a.btn.btn-uogRed {
    background: #c20430 !important;
    text-align: left;
    text-transform: none;
    font-size: 1.5rem;
    width: 100%;
    padding: 2rem 2rem 1.5rem 2rem;
    border-bottom: 0rem !important;
}

body.program a.btn.btn-uogRed:hover,
body.program a.btn.btn-uogRed:focus {
    background: #69A3B9 !important;
    color: #fff !important;
    outline: none !important;
    border-bottom: 0rem !important;
}

body.program a.btn.btn-uogRed {
    width: 100%;
    font-size: 3rem;
    text-align: center;
}

body.program a.btn.btn-uogRed span {
    font-size: 2.1rem;
    font-weight: 700;
}

body.program a.btn.btn-uogRed img {
    width: 14%;
    float: left;
    margin-right: 10%;
}

/* Program Info */

body.program .employer-wrapper {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 20% auto;
}

body.program .employer-wrapper .employer-info {
    grid-column: 1 / span 2;
}

body.program .employer-wrapper .employer-pic + .employer-info {
    grid-column: 2;
}

body.program .employer-wrapper .employer-name {
    color: #000;
    margin: 0;
}

/* Pre Footer */

body.program .apply-footer a.btn {
    /* width: 30%; */
    text-align: center;
    margin: 0 auto 7rem auto !important;
    display: block;
}

body.program .apply-footer h3 {
    text-align: center;
}

body.program .apply-footer h3 span {
    font-weight: 400;
}

body.program .pre-footer h6 {
    color: #000;
    font-size: 2rem;
}

body.program .pre-footer h6.no-top-margin {
    margin-top: 0;
}

body.program .pre-footer a:hover,
body.program .pre-footer a:focus {
    text-decoration: underline;
}

body.program .pre-footer img {
    width: 80%;
}

/* media breakpoints */

@media only screen and (max-width: 1024px) {
    body.program .lead {
        font-size: 3rem;
        line-height: 4rem;
    }

    body.program a.btn.btn-uogRed span {
        font-size: 1.7rem;
    }

    body.program .social-wrapper a {
        width: 40px;
        height: 40px;
    }

    body.program .uog-card h6 {
        font-size: 4rem;
    }

    body.program .student-tips img {
        width: 110%;
        float: right;
    }

    body.program .cta-text {
        width: 37%;
        padding: 0rem 3rem;
    }

    body.program .cta-text h6 {
        font-size: 3rem;
    }

    body.program .cta-text a {
        font-size: 2rem;
        padding: 1rem 2rem;
    }
}

@media only screen and (max-width: 992px) {
    body.program #rotator img {
        width: calc(100% + 10rem) !important;
    }
}

@media only screen and (max-width: 768px) {
    body.program .event-card {
        background: linear-gradient(to right, #4C9BB2 0%, #4C9BB2 20%, #f5f5f5 20%, #f5f5f5 100%);
    }

    body.program .event-card.yellow {
        background: linear-gradient(to right, #FFC72A 0%, #FFC72A 20%, #f5f5f5 20%, #f5f5f5 100%);
    }

    body.program .event-card.red {
        background: linear-gradient(to right, #c20430 0%, #c20430 20%, #f5f5f5 20%, #f5f5f5 100%);
    }

    body.program .event-date {
        width: 20%;
    }

    body.program .student-tips img {
        width: 130%;
        float: right;
    }

    body.program .cta-text {
        width: 50%;
        padding: 0rem 3rem;
    }

    body.program .cta-text h6 {
        font-size: 2.5rem;
    }

    body.program .cta-text p {
        margin-bottom: 2.25rem;
    }

    body.program .cta-text a {
        font-size: 1.7rem;
        padding: 0.75rem 1.5rem;
    }

    body.program .pre-footer img {
        width: 30%;
        margin-bottom: 2rem;
    }

    body.program .pre-footer h6 {
        margin-top: 1rem;
    }

    body.program .employer-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    body.program .employer-wrapper .employer-info {
        grid-column: 1;
        grid-row: 1 / span 2;
    }
    
    body.program .employer-wrapper .employer-pic + .employer-info {
        grid-column: 1;
        grid-row: 2;
    }

    body.program .employer-wrapper .employer-pic {
        width: 40%;
        height: 40%;
    }

    body.program .uog-card {
        margin-top: 0;
        margin-bottom: 0;
    }

    body.program .uog-card h6 {
        font-size: 3rem;
        margin-top: 2rem;
    }

    body.program .uog-card p {
        font-size: 1.7rem;
        font-weight: 400;
        margin-top: 0;
    }

    body.program .bg-img hr {
        margin: 1rem 0;
    }
}