#program-list .card {
    min-width: 23%;
    background-color: #f4f4f4;
    padding: 2rem;
    margin-bottom:2rem;
    margin-right:2rem;
    border: none;

}
#program-list .card:hover,
#program-list .card:focus-within {
	background-color: #d3d3d3 !important;
}

#program-list .card h2 {
	color: black;
	padding-top: 0rem;
	margin-top: 0rem;
	font-size: 2rem;
}
  
#program-list .card a.stretched-link {
	text-decoration: none !important;
}
#program-list .card a.stretched-link:hover,
#program-list .card a.stretched-link:focus {
    border-bottom:unset;
} 
  
#program-list .col:nth-of-type(12n+1) .card,
#program-list .col:nth-of-type(12n+4) .card,
#program-list .col:nth-of-type(12n+7) .card,
#program-list .col:nth-of-type(12n+10) .card {
	border-left: 1rem solid var(--uog-red);
}

#program-list .col:nth-of-type(12n+2) .card,
#program-list .col:nth-of-type(12n+5) .card,
#program-list .col:nth-of-type(12n+8) .card,
#program-list .col:nth-of-type(12n+11) .card {
	border-left: 1rem solid var(--uog-yellow);
}
#program-list .col:nth-of-type(12n+3) .card,
#program-list .col:nth-of-type(12n+6) .card,
#program-list .col:nth-of-type(12n+9) .card,
#program-list .col:nth-of-type(12n+12) .card {
	border-left: 1rem solid var(--uog-blue);
}
  



  

/*   @media only screen and (max-width: 1010px) {
    .card-group.programsList{
      margin-left:1rem;
    }
    #program-list .card {
        min-width: 48%;

      } 
  }

  @media only screen and (max-width: 768px) {
    .card-group.programsList{
      margin-left:1rem;
    }
    #program-list .card {
        min-width: 100%;
        margin-bottom:1rem;
      } 
  } */