
  .card-group.programsList{
    margin-left:1rem;
  }
.programs-card.card {
    min-width: 23%;
    background-color: #f4f4f4;
    padding: 2rem;
    margin-bottom:2rem;
    margin-right:2rem;
    border: none;

}
.programs-card h2 {
	color: black;
	padding-top: 0rem;
	margin-top: 0rem;
	font-size: 2rem;
}
  
.programs-card a.stretched-link {
	text-decoration: none !important;
}

  
  
  .programs-card.card:nth-of-type(12n+1),
  .programs-card.card:nth-of-type(12n+4),
  .programs-card.card:nth-of-type(12n+7),
  .programs-card.card:nth-of-type(12n+10) {
    border-left: 1rem solid var(--uog-red);
  }

  .programs-card.card:nth-of-type(12n+2),
  .programs-card.card:nth-of-type(12n+5),
  .programs-card.card:nth-of-type(12n+8),
  .programs-card.card:nth-of-type(12n+11) {
    border-left: 1rem solid var(--uog-yellow);
  }
  .programs-card.card:nth-of-type(12n+3),
  .programs-card.card:nth-of-type(12n+6),
  .programs-card.card:nth-of-type(12n+9),
  .programs-card.card:nth-of-type(12n+12) {
    border-left: 1rem solid var(--uog-blue);
}
  
  .programs-card.card:hover,
  .programs-card.card:focus-within {
    background-color: #d3d3d3 !important;
  }

  .page-container a.stretched-link:hover,
  .page-container a.stretched-link:focus {
    border-bottom:unset;
  }
  

  @media only screen and (max-width: 1010px) {
    .card-group.programsList{
      margin-left:1rem;
    }
    .programs-card.card {
        min-width: 48%;

      } 
  }

  @media only screen and (max-width: 768px) {
    .card-group.programsList{
      margin-left:1rem;
    }
    .programs-card.card {
        min-width: 100%;
        margin-bottom:1rem;
      } 
  }