.ug-slick-slider {
    margin-bottom: 1rem;
}

.ug-slick-slider .slick-list {
    width: 90%;
    left: 6%;
}

.ug-slick-slider .trans-gradient {
    position:absolute; 
    z-index:2; 
    left: 6%;
    height:inherit; 
    width: 90%; 
}

/***********
  Controls
************/

.ug-slick-slider .ug-slick-slider-control-arrow {
    background: none !important;
    border: none;
    display: block;
    height: 30%;
    padding: 0!important;
    cursor: pointer;
}

.ug-slick-slider .ug-slick-slider-control-arrow {
    width: 5%;
    color: var(--uog-blue-on-light);
    font-size: 6rem;
    font-weight: 300;
    opacity: 1;
    top: 10%;
}

.ug-slick-slider .ug-slick-slider-control-prev {
    position: absolute;
    left: 0%;
    transition: all 0.15s ease;
}

.ug-slick-slider .ug-slick-slider-control-next {
    position: absolute;
    right: 1%;
    transition: all 0.15s ease;
}

.ug-slick-slider .ug-slick-slider-control-arrow:focus {
    outline: none !important;
    border-bottom: 0rem !important;
}

.ug-slick-slider .ug-slick-slider-control-prev:hover,
.ug-slick-slider .ug-slick-slider-control-prev:focus {
    left: -3px;
    position: absolute;
}

.ug-slick-slider .ug-slick-slider-control-next:hover,
.ug-slick-slider .ug-slick-slider-control-next:focus {
    position: absolute;
    right: 7px;
}

.ug-slick-slider .ug-slick-slider-control-arrow-icon::before {
    content: '';
}

.ug-slick-slider .ug-slick-slider-control-arrow:hover .ug-slick-slider-control-arrow-icon,
.ug-slick-slider .ug-slick-slider-control-arrow:focus .ug-slick-slider-control-arrow-icon {
    color: #000;
}

.ug-slick-slider .ug-slick-slider-control-arrow-icon {
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    content: '';
    display: inline-block;
    vertical-align: top;
    position: absolute;
    color: var(--uog-blue-on-light);
    top: 20%;
    left: 10%;
    width: 0.7em;
    height: 0.7em;
    transform: rotate(225deg);
    transition: all 0.15s ease;
}

.ug-slick-slider .ug-slick-slider-control-next-icon {
    transform: rotate(45deg);
}

.ug-slick-slider .ug-slick-slider-control-prev-icon {
    left: 25%;
}

.ug-slick-slider .ug-slick-slider-control-arrow-icon:hover {
    text-decoration: none !important;
}

@media only screen and (max-width: 1024px) {
    .ug-slick-slider .ug-slick-slider-control-arrow-icon {
        border-width: 0.07em 0.07em 0 0;
        width: 0.5em;
        height: 0.5em;
    }

    .ug-slick-slider .ug-slick-slider-control-arrow {
        width: 10%;
    }

    .ug-slick-slider .ug-slick-slider-control-next {
        right: 0%;
    }
    .ug-slick-slider .ug-slick-slider-control-next:hover, 
    .ug-slick-slider .ug-slick-slider-control-next:focus {
        right: -3px;
    }

    .ug-slick-slider .slick-list {
        width: 78%;
        left: 12%;
    }

    .ug-slick-slider .trans-gradient {
        left: 12%;
        width:78%; 
    }
}