/* Program stats (with icons) */

body.program .stats-bg {
	background-color: #fff;
	background-image: url("../../static/stats-bg.jpg");
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
}

body.program .uog-card {
    min-width: 33%; 
    text-align: center;
	margin-top: 3rem;
}

body.basic-page .uog-card {
	background: var(--uog-blue-muted);
	flex: 1 0 0%;
    padding: 1.25rem;
	margin: 1.5rem;
	min-width: 25%;
}

body.program .uog-card dt,
body.basic-page .uog-card dt {
	font-size: 5rem;
    color: #000;
}
body.program .uog-card dt {
    margin-bottom: 2rem;	
}
body.basic-page .uog-card dt{
	margin-bottom: 0.75rem;
	line-height: 1.2;
}

body.program .uog-card dt svg {
    height: 6rem;
    padding-right: 1.5rem;
	vertical-align: text-bottom;
}

body.program .uog-card dd {
    text-transform: uppercase;
    font-weight: 700;
    color: #555;
    margin: 0 auto;
	max-width: 33ch;
}
body.basic-page .uog-card dd {
	font-size: 1.8rem;
    line-height: 1.58;
}

div.uog-card span.fa-icon-colour {
	color: var(--uog-red);
	padding-right: 1.5rem;
}
div.uog-card:nth-of-type(9n+2) span.fa-icon-colour,
div.uog-card:nth-of-type(9n+4) span.fa-icon-colour,
div.uog-card:nth-of-type(9n+9) span.fa-icon-colour {
	color: var(--uog-yellow);	
	padding-right: 1.5rem;
}

div.uog-card:nth-of-type(9n+3) span.fa-icon-colour,
div.uog-card:nth-of-type(9n+5) span.fa-icon-colour,
div.uog-card:nth-of-type(9n+7) span.fa-icon-colour {
	color: var(--uog-blue);
	padding-right: 1.5rem;
}

div.uog-card path {
	fill: var(--uog-red);
}

div.uog-card:nth-of-type(9n+2) path,
div.uog-card:nth-of-type(9n+4) path,
div.uog-card:nth-of-type(9n+9) path {
	fill: var(--uog-yellow);
}

div.uog-card:nth-of-type(9n+3) path,
div.uog-card:nth-of-type(9n+5) path,
div.uog-card:nth-of-type(9n+7) path {
	fill: var(--uog-blue);
}

body.basic-page div.uog-card {
	border-left: 1rem solid var(--uog-red);
}

body.basic-page div.uog-card:nth-of-type(9n+2),
body.basic-page div.uog-card:nth-of-type(9n+4),
body.basic-page div.uog-card:nth-of-type(9n+9) {
	border-left: 1rem solid var(--uog-yellow);
}

body.basic-page div.uog-card:nth-of-type(9n+3),
body.basic-page div.uog-card:nth-of-type(9n+5),
body.basic-page div.uog-card:nth-of-type(9n+7) {
	border-left: 1rem solid var(--uog-blue);
}

@media only screen and (max-width: 768px) {
	body.program .uog-card,
	body.basic-page .uog-card {
		min-width: 50%; 
		text-align: center;
		margin-top: 0;
		margin-bottom: 3rem;
	}
	body.program dt,
	body.basic-page .uog-card dt {
		font-size: 3.5rem;
		color: #000;
		margin-bottom: 0.5rem;
	}
	body.program .uog-card dt svg {
		height: 4rem;
	}
	body.program dd,
	body.basic-page .uog-card dd {
		font-weight: 600;
		font-size: 1.4rem;
	}
}

/* Moved from styled-components */



div.stat-solid-card > dd a {
    color: #ffffff !important;
  }

dt.stat-value {
  font-size: 3.25rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}
dd.stat-type {
  font-size: 1.8rem;
  line-height: 1.58;
}
dd.stat-type > a {
    color: #0068ad !important;
  }
dd.stat-type > a:hover,
dd.stat-type > a:focus {
    color: #ffffff !important;
  }

i.stat-icon {
  color: black;
}

.default-card-bg {
	background: #f5f7fa;
}

.bg-black {
	background: var(--black);
}
.bg-colors-2 {
	background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 60%, rgb(194, 4, 48) 60%, rgb(194, 4, 48) 100%);
}
.bg-colors-3 {
	background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 60%, rgb(255, 199, 42) 60%, rgb(255, 199, 42) 100%);
}
.bg-colors-4 {
	background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 60%, rgb(105, 163, 185) 60%, rgb(105, 163, 185) 100%);
}

dl.gradient-stats div.stat-solid-card,
dl.solid-stats div.stat-solid-card {
	background: var(--black);
	color: white;
}
dl.gradient-stats div.stat-solid-card:nth-of-type(8n+2) {
	background: var(--uog-red);
	color: white;
}
dl.gradient-stats div.stat-solid-card:nth-of-type(8n+3) {
	background: var(--uog-yellow);
	color: black;
}
dl.gradient-stats div.stat-solid-card:nth-of-type(8n+4) {
	background: var(--uog-blue);
	color: black;
}
dl.gradient-stats div.stat-solid-card:nth-of-type(8n+5) {
	background: var(--uog-red);
	color: white;
}
dl.gradient-stats div.stat-solid-card:nth-of-type(8n+6) {
	background: var(--uog-yellow);
	color: black;
}
dl.gradient-stats div.stat-solid-card:nth-of-type(8n+7) {
	background: var(--uog-blue);
	color: black;
}

dl.stats-border,
dl.stats-grid {
	background: #eee;
	display: grid;
}

.stats-grid-2,
.stats-grid-3 {
	grid-template-columns: none;
}

@media (min-width: 992px) {
	.stats-grid-2 {
		grid-template-columns: repeat(2,1fr);
	}
    .stats-grid-3 {
		grid-template-columns: repeat(3,1fr);
	}
}

dl.solid-stats div.stat-solid-card:nth-of-type(4n+2) {
	background: var(--uog-red);
}
dl.solid-stats div.stat-solid-card:nth-of-type(4n+3) {
	background: var(--uog-yellow);
	color: black;
}

dl.gradient-stats {
	display: grid;
}


.gradient-stats-2,
.gradient-stats-3,
.gradient-stats-4 {
	grid-template-columns: none;
}

@media (min-width: 992px) {
	.gradient-stats-2 {
		grid-template-columns: auto auto;
		/* grid-template-columns: repeat(2,1fr); */
	}
    .gradient-stats-3 {
		grid-template-columns: 	auto 25em auto;
	}
	.gradient-stats-4 {
		grid-template-columns: auto 25em 25em auto;
	}
}

div.stat-card {  
  padding: 1.25rem;
  min-width: 25%;
}
dl.stats-border div.stat-border-card {
  padding: 1.25rem;
  border-left: 1rem solid var(--black);
}
dl.stats-border div.stat-border-card:nth-of-type(4n+2) {
	border-left: 1rem solid var(--uog-red);
}
dl.stats-border div.stat-border-card:nth-of-type(4n+3) {
	border-left: 1rem solid var(--uog-yellow);
}