/* Program stats (with icons) */

body.program .stats-bg {
	background-color: #fff;
	background-image: url("../../static/stats-bg.jpg");
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
}

body.program .uog-card {
    min-width: 33%; 
    text-align: center;
	margin-top: 3rem;
}

body.basic-page .uog-card {
	background: var(--uog-grey-light-bg);
	flex: 1 0 0%;
    padding: 1.25rem;
	margin: 1.5rem;
	min-width: 25%;
}

body.program .uog-card dt,
body.basic-page .uog-card dt {
	font-size: 5rem;
    color: #000;
}
body.program .uog-card dt {
    margin-bottom: 2rem;	
}
body.basic-page .uog-card dt{
	margin-bottom: 0.75rem;
	line-height: 1.2;
}

body.program .uog-card dt svg {
    height: 6rem;
    padding-right: 1.5rem;
	vertical-align: text-bottom;
}

body.program .uog-card dd {
    text-transform: uppercase;
    font-weight: 700;
    color: #555;
    margin: 0 auto;
	max-width: 33ch;
}
body.basic-page .uog-card dd {
	font-size: 1.8rem;
    line-height: 1.58;
}

div.uog-card span.fa-icon-colour {
	color: var(--uog-red);
	padding-right: 1.5rem;
}
div.uog-card:nth-of-type(9n+2) span.fa-icon-colour,
div.uog-card:nth-of-type(9n+4) span.fa-icon-colour,
div.uog-card:nth-of-type(9n+9) span.fa-icon-colour {
	color: var(--uog-yellow);	
	padding-right: 1.5rem;
}

div.uog-card:nth-of-type(9n+3) span.fa-icon-colour,
div.uog-card:nth-of-type(9n+5) span.fa-icon-colour,
div.uog-card:nth-of-type(9n+7) span.fa-icon-colour {
	color: var(--uog-blue);
	padding-right: 1.5rem;
}

div.uog-card path {
	fill: var(--uog-red);
}

div.uog-card:nth-of-type(9n+2) path,
div.uog-card:nth-of-type(9n+4) path,
div.uog-card:nth-of-type(9n+9) path {
	fill: var(--uog-yellow);
}

div.uog-card:nth-of-type(9n+3) path,
div.uog-card:nth-of-type(9n+5) path,
div.uog-card:nth-of-type(9n+7) path {
	fill: var(--uog-blue);
}

body.basic-page div.uog-card {
	border-left: 1rem solid var(--uog-red);
}

body.basic-page div.uog-card:nth-of-type(9n+2),
body.basic-page div.uog-card:nth-of-type(9n+4),
body.basic-page div.uog-card:nth-of-type(9n+9) {
	border-left: 1rem solid var(--uog-yellow);
}

body.basic-page div.uog-card:nth-of-type(9n+3),
body.basic-page div.uog-card:nth-of-type(9n+5),
body.basic-page div.uog-card:nth-of-type(9n+7) {
	border-left: 1rem solid var(--uog-blue);
}

@media only screen and (max-width: 768px) {
	body.basic-page .uog-card {
		min-width: 50%; 
		text-align: center;
		margin-top: 0;
		margin-bottom: 3rem;
	}
	body.basic-page .uog-card dt {
		font-size: 3.5rem;
		color: #000;
		margin-bottom: 0.5rem;
	}
	body.program .uog-card dt svg {
		height: 4rem;
	}
	body.basic-page .uog-card dd {
		font-weight: 600;
		font-size: 1.4rem;
	}
}
