.section-wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, [col-start] 1fr);
    
}

.section-left{
    grid-column: col-start / span 9;

}

.section-right {
    grid-column: col-start 10 / span 3;

}
.section-button {
    text-align:left;
    padding:20px;
}
.section-button-icon {
    font-size: 5rem;
    padding-top: 10px;
}

.yellow-icon {
    color:var(--uog-yellow);
}

.section-button-text {
    font-size:larger;
}