.text-dark-social {
    color: #343a40!important;
}

.text-dark-social:hover,
.text-dark-social:focus {
    color: #121416!important;
    background: none !important;
    text-decoration-color: none !important;
    border-bottom: none !important;

}